<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="15 seconds">
  <appender class="ch.qos.logback.core.ConsoleAppender" name="stdout">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.classic.AsyncAppender" name="async">
    <appender-ref ref="stdout"/>
    <neverBlock>true</neverBlock>
    <queueSize>1000</queueSize>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="async"/>
  </root>
</configuration>
